#mapid { 
    height: 380px; 
}

.margin-auto {
    margin: auto 0.75em;
}

.leaflet-tooltip {
    max-width:300px;
}

div.simpleJson ul {
    padding: 0px;
    padding-left: 16px;
    margin: 0px;
}

div.simpleJson li {
    list-style: none;
    margin: 0px;
}

span.simpleJson-collapsibleMarker {
    cursor: pointer;
}

div.simpleJson span.simpleJson-key {
    font-weight: bolder;
}

div.simpleJson span.simpleJson-string {
    color: #efbdbd;
}

div.simpleJson span.simpleJson-bool {
    color: rgb(119, 119, 240);
}

div.simpleJson span.simpleJson-collapsedText {
    color: lightgrey;
    display: none;
}

li.simpleJson-collapsed > span.simpleJson-collapsedText, div.simpleJson-collapsed > span.simpleJson-collapsedText {
    display: inline;
}

.simpleJson-collapsed > ul {
    display: none;
}

div.simpleJson span.simpleJson-collapsibleMarker {
    height: 12px;
    width: 12px;
    display: inline-block;
}

div.simpleJson span.simpleJson-collapsibleMarker {
    background-image: url( "./images/simpleJson-images.png" );
}

div.simpleJson span.simpleJson-collapsibleMarker:hover {
    background-position-y: -12px;
}

div.simpleJson li.simpleJson-collapsed > span.simpleJson-collapsibleMarker, div.simpleJson-collapsed > span.simpleJson-collapsibleMarker {
    background-position-x: -12px;
}


#result-items,
#result-item,
#result-link-items { 
    white-space: pre; 
    font-family: monospace; 
    background-color: #063596;
    border-radius: 3px;
    padding: 1em;
    color: #ffffff;
    max-height: 300px;
    overflow-y: scroll;
    font-size: 0.7em;
}

.finish-btn,
.start-btn {
    cursor: pointer;
}

.focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}