<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{name}}</title>
        
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <!-- Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        
        <!-- Bootstrap CSS and JS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        
        <!-- Leaflet -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
         <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        
        <!-- Custom -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>

    <body>
        <div class="container-fluid ">
            <div class="row">
                <!-- toolbar -->
                <div class="col-12">
                    <h1 class="text-right">
                        {{name}}
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- map container -->
                    <div id="mapid"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-4  d-flex align-items-stretch">
                    <div class="card  w-100">
                        <div class="card-header">
                            Saved and named routes
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-12" id="savedRoutesContainer">
                                    {% for route in routes %}
                                        <a href="{{route.href}}" class="badge badge-primary route-link" target="_blank">{{route.title}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4  d-flex align-items-stretch">
                        <div class="card  w-100">
                            <div class="card-header">
                                Get route 
                            </div>
                            <div class="card-body">
                                <div class="row form-group">
                                    <div class="col-12">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" id="name" class="form-control">
                                        <small>Use this field to create and save a new named route</small>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-6">
                                       <label for="start">Start</label>
                                       <input type="text" name="start" id="start" class="form-control">
                                    </div>
                                    <div class="col-6">
                                        <label for="end">End</label>
                                        <input type="text" name="end" id="end" class="form-control">
                                    </div>
                                </div>

                            </div>
                            <div class="card-footer text-muted">
                                <button id="getRoute" class="btn btn-primary">Get route</button>
                                <button id="getRouteJsonOutput" type="button" disabled class="btn btn-primary" data-toggle="modal" data-target="#getRouteJsonOutputModal">Show JSON output</button>
                            </div>
                        </div>
                </div>

                <div class="col-4  d-flex align-items-stretch">
                    <div class="card  w-100">
                        <div class="card-header">
                            Set route settings
                        </div>
                        <div class="card-body">
                            <div class="row form-group">
                                <div class="col-6">
                                    <label for="max-height">Max height</label>
                                    <input type="number" min="0" step="0.01" name="max-height" id="max-height" class="form-control">
                                </div>
                                <div class="col-6">
                                    <label for="max-width">Max weight</label>
                                    <input type="number" min="0" step="0.01" name="max-width" id="max-width" class="form-control">
                                </div>
                            </div>
                            <div class="row form-group" style="margin-top:40px;">
                                <div class="col-12">
                                    <label for="preference">Preference</label>
                                    <select name="preference" id="preference" class="form-control">
                                        <option value="fastest">Fastest</option>
                                        <option value="shortest">Shortest</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- #getCollectionItemsModal -->
        <div class="modal fade" id="getRouteJsonOutputModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">JSON output for <span id="selectedCollectionId"></span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <pre id="result-items"></pre>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
        </div>

        <footer>
            <hr>
            <p class="text-center">
                2021
            </p>
        </footer>

        <!-- Document root -->
        <script>
            var map;
            $SCRIPT_ROOT = {{request.root_url|tojson|safe}};
            $SCRIPT_ZOOM = {{zoom}};
            $DEFAULT_CENTER = {{center}};
        </script>

        <!-- Routes JS -->
        <script>
            /**
             * The lines ready to be rendered.
             *
             * @type {array}
             */
            var lines = [];
            /**
             * The points ready to be rendered.
             *
             * @type {array}
             */
            var points = [];
            /**
             * The LineStrings ready to be rendered.
             * 
             * @type {array}
             */
            var lineStrings = [];

            $(function() {
                // get collection list
                $('button#getRoute').bind('click', getRoutes)

            });

            /** @function getRoutes 
             * Do an AJAX call to get all the items that are part of a given collection.
             *
             * @returns {JSON}|{boolean}
             */
            function getRoutes(){
                refreshMap();
                var start = JSON.parse($('#start').val());
                var finish = JSON.parse($('#end').val());
                var maxHeight =  $('#max-height').val();
                var maxWidth =  $('#max-width').val();
                var name = $('#name').val();
                var preferenceType = $('#preference').val();

                var $this = $(this);
                var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Loading...';
                if ($(this).html() !== loadingText) {
                    $this.data('original-text', $(this).html());
                    $this.html(loadingText);
                    $this.prop('disabled', true);
                }
                $.getJSON($SCRIPT_ROOT + 'route', {
                    waypoints: JSON.stringify([start, finish]),
                    route_name: name,
                    max_height: (maxHeight.length > 0) ? maxHeight : '',
                    max_width: (maxWidth.length > 0) ? maxWidth : '',
                    preference: (preferenceType.length > 0) ? preferenceType : ''
                }, function(data) {
                    if (data[0] == "error") {
                        alert(data[1]);
                        $this.html($this.data('original-text'));
                        $this.removeAttr('disabled');
                    } else {
                        /** @function showJSONOutput */
                        showJSONOutput(data, "#result-items");
                        /** @function saveObjects */
                        saveObjects(data);
                        /** @function renderObjects */
                        renderObjects();
                        return data;
                    }
                }).done(function (data) {
                    if (data[0] !== "error") {
                        $this.html($this.data('original-text'));
                        $this.removeAttr('disabled');
                        $('#getRouteJsonOutput').removeAttr('disabled');
                    }
                }).fail(function() {
                    $this.html($this.data('original-text'));
                    $this.removeAttr('disabled');
                    alert('Error');
                });

                return false;
            }

            /** @function saveObjects 
             * Pushes each received object into the needed array
             * 
             * @returns {void}
             */
            function saveObjects(data) {
                data.forEach(element => {
                    switch (element.geometry.type) {
                        case "Point":
                            if (element.properties.type == 'start' || element.properties.type == 'end') {
                                var obj = {
                                    type: element.geometry.type,
                                    coordinates: element.geometry.coordinates,
                                    properties: element.properties,
                                    id: element.id,
                                }
                                points.push(obj);
                            }
                            break;

                        case "LineString":
                            var obj = {
                                type: element.geometry.type,
                                coordinates: element.geometry.coordinates,
                                properties: element.properties,
                                id: element.id,
                            }
                            lineStrings.push(obj);
                            break;
                    
                        default:
                            break;
                    }
                });
            }

            /** @function showJSONOutput 
             * Returns and puts the given JSON response into a modal window
             * 
             * @returns {void}
             */
            function showJSONOutput(data, target) {
                // Put beautified json
                // $(target).text(JSON.stringify(data, null, 4));
                $("#selectedCollectionId").text(data.id)
                console.log(data);
                $(target).empty().simpleJson({ jsonObject: data });
            }

            /** @function renderObjects 
             * Renders each stored object into the map
             * 
             * @returns {void}
             */
            function renderObjects() {
                // Render points
                points.forEach(function(point) {
                    var pt = L.geoJSON(point, {
                        pointToLayer: function (feature, latlng) {
                            // Put the markeron map
                            L.marker(latlng).addTo(map);
                            // Show custom points
                            return L.circleMarker(latlng, {
                                radius: 8,
                                fillColor: "#ff7800",
                                color: "#000",
                                weight: 1,
                                opacity: 1,
                                fillOpacity: 0.8
                            });
                        }
                    }).addTo(map);
                    // Add tooltip to the point
                    var content = '<h4>'+point.id+' properties:</h4>';
                    var counter = 0;
                    console.log(point);
                    for(var key in point.properties) {
                        if(point.properties.hasOwnProperty(key) && counter < 5) {
                            content += '<p>'+key+':'+point.properties[key]+'<p>';
                            counter++;
                        }
                    }
                    pt.bindTooltip(content).addTo(map);
                    // Fly to the point center
                    map.flyTo(pt.getBounds().getCenter(), 9);
                });
                // Render lineStrings
                lineStrings.forEach(function(lineString) {
                    // TODO: Why do we need to reverse the coordinates array?  Because we need to use long,lat instead of lat,long
                    // Reverse the corrdinates 
                    // (FIXME)
                    var coordinates = [];
                    lineString.coordinates.forEach(function(coordinatesPair) {
                        var aux = [coordinatesPair[1], coordinatesPair[0]];
                        coordinates.push(aux);
                    });
                    // (ENDFIXME)
                    // Add to map custom lineStrings
                    var ls = L.polyline(coordinates).addTo(map);
                    // Add tooltip
                    var content = '<h4>'+lineString.id+' properties:</h4>';
                    var counter = 0;
                    for(var key in lineString.properties) {
                        if(lineString.properties.hasOwnProperty(key) && counter < 5) {
                            content += '<p>'+key+':'+lineString.properties[key]+'<p>';
                            counter++;
                        }
                    }
                    ls.bindTooltip(content).addTo(map);
                });
                printRoutesShortcuts();
            }
        </script>

        <!-- Named routes -->
        <script>
            $('.route-link').on('click', getRouteByName);
            
            /** @function getRouteByName 
             * Do an AJAX call to get all the items that are part of a given collection.
             *
             * @returns {JSON}|{boolean}
             */
             function getRouteByName(e){
                e.preventDefault();
                refreshMap();
                var url = this.href;
                var $this = $(this);
                var loadingText = '<i class="fa fa-circle-o-notch fa-spin"></i> Loading...';
                if ($(this).html() !== loadingText) {
                    $this.data('original-text', $(this).html());
                    $this.html(loadingText);
                    $this.prop('disabled', true);
                }
                $.getJSON($SCRIPT_ROOT + '/route/named', {
                    route_link: url.split('/').at(-1)
                }, function(data) {
                    if (data[0] == "error") {
                        alert(data[1]);
                        $this.html($this.data('original-text'));
                        $this.removeAttr('disabled');
                    } else {
                        /** @function showJSONOutput */
                        showJSONOutput(data, "#result-items");
                        /** @function saveObjects */
                        saveObjects(data);
                        /** @function renderObjects */
                        renderObjects();
                        return data;
                    }
                }).done(function (data) {
                    if (data[0] !== "error") {
                        $this.html($this.data('original-text'));
                        $this.removeAttr('disabled');
                        $('#getRouteJsonOutput').removeAttr('disabled');
                    }
                }).fail(function() {
                    $this.html($this.data('original-text'));
                    $this.removeAttr('disabled');
                    alert('Error');
                });

                return false;
            }

        </script>

        <!-- Dyn routes -->
        <script>
            function printRoutesShortcuts() {
                var html = '';
                var ids = [];
                var container = $('#savedRoutesContainer');
                $.getJSON($SCRIPT_ROOT + '/all', {
                }, function(data) {
                    if (data[0] == "error") {
                        alert(data[1]);
                    } else {
                        for (let index = 0; index < data.length; index++) {
                            var id = data[index].href.split('/').at(-1);
                            ids.push(id);
                            html += '<a id="'+id+'" href="'+data[index].href+'" class="badge badge-primary route-link" target="_blank">'+data[index].title+'</a> ';
                        }
                        container.html(html);
                        ids.forEach(element => {
                            $('#'+element).on('click', getRouteByName);
                        });
                    }
                }).fail(function() {
                    alert('Error');
                });
            }
        </script>

        <!-- Map JS -->
        <script>
            var map = L.map('mapid', {
                    scrollWheelZoom: false,
                    // This is just a workaround to be used with long,lat instead of lat,long
                }).setView([$DEFAULT_CENTER[1], $DEFAULT_CENTER[0]], $SCRIPT_ZOOM);
                var tilesFrom = "{{tileserver}}"
                L.tileLayer(tilesFrom, {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors and <a href="https://skymantics.com">Skymantics</a>'
                }).addTo(map);

                map.on('click',function(e){
                    console.log(e.latlng);
                    if ($('#start').hasClass('focus')) {
                        $('#start').val(JSON.stringify([e.latlng.lng, e.latlng.lat]));
                    }
                    if ($('#end').hasClass('focus')) {
                        $('#end').val(JSON.stringify([e.latlng.lng, e.latlng.lat]));
                    }
            });
            function loadMap() {
                // Set map center and block zoom
                map = L.map('mapid', {
                    scrollWheelZoom: false,
                    // This is just a workaround to be used with long,lat instead of lat,long
                }).setView([$DEFAULT_CENTER[1], $DEFAULT_CENTER[0]], $SCRIPT_ZOOM);
                var tilesFrom = "{{tileserver}}"
                L.tileLayer(tilesFrom, {
                    maxZoom: 19,
                    attribution: '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors and <a href="https://skymantics.com">Skymantics</a>'
                }).addTo(map);

                map.on('click',function(e){
                    console.log(e.latlng);
                    if ($('#start').hasClass('focus')) {
                        $('#start').val(JSON.stringify([e.latlng.lng, e.latlng.lat]));
                    }
                    if ($('#end').hasClass('focus')) {
                        $('#end').val(JSON.stringify([e.latlng.lng, e.latlng.lat]));
                    }
                });
            }

            $('#start').on('click', function() {
                $('#start').addClass('focus');
                $('#end').removeClass('focus'); 
            });
            $('#end').on('click', function() {
                $('#start').removeClass('focus');
                $('#end').addClass('focus'); 
            });

            function refreshMap()
            {
                map.eachLayer(function(point){
                    map.remove();
                    map.removeLayer(point)
                    latlngs = [];
                    isMap = false;
                    loadMap();
                    points = [];
                    lineStrings = [];
                });
            }
        </script>
    </body>
</html>
